<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="/static/sakura.css">
  </head>
  <body>
    <center>
    <h1><img src="/static/multi.gif" alt="Girl in a jacket">Is your taste in anime trash?</h1>
    <h3>🔎 Find out today!</h3>
    <p>All you got to do in put 4 of you're most favorite anime! <br> Once your done click on the submit button to see your results. </p><br>
      <div id="answer">
      <table>
      <tr>
      <td><label for="anime1"> Anime search: </label></td><td><input type="text" id="anime1" name="anime1" hx-get="/search" hx-target="#selection" hx-trigger="keyup changed delay:200ms"></td><td><div id="submitArea"></div><td>
      </tr>
      </table>
    <div id="selection" style="margin-top:20px;" hx-get="/addSubmit" hx-trigger="click" hx-target="#submitArea" hx-swap="innerHTML">
    </div></div>
    <div id="picks" style="margin-top:20px;">
    </div>
    </center>
  </body>
</html>
